.get-involved {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: space-between;
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.transit-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contenedor {
  width: 100%;
  justify-content: center;
  max-width: 120em;
  padding: 1em;
  color: #363672;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 0.5em;
  background-color: whitesmoke;
  -webkit-box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
          box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.contenedor .ul {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor .li {
  padding: 1em;
  margin: 0 2em 0 0;
  color: #363672;
  font-weight: 600;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 0.5em;
  background-color: var(--blanco);
  -webkit-box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
          box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.contenedor .li.activo {
  background-color: #c2b9ea;
  color: white;
}

.contenedor .subcontenedor {
  min-height: 90vh;
  position: relative;
}

.contenedor .bloque {
  margin: 1em;
  padding: 1em;
  position: absolute;
  top: 0.5em;
  color: #363672;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 0.5em;
  background-color: var(--blanco);
  -webkit-box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
          box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contenedor .bloque.activo {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.transfer {
  border-color: #363672;
}

.bloque p {
  margin-top: 1rem;
}
.transfer-items {
  list-style: none;
}