html {
    background-color: rgb(238, 182, 85);
}
:root {
    --bg: rgb(238, 182, 85);
}

.crud-form {
    background-color: transparent;
    padding: 20px;
    max-width: 100%;
    font-size: 16px;
    color: #363672;
    align-content: center;
}
#form .d-flex{
    justify-content: space-around;
}
.d-flex-column{
    display: flex;
    flex-direction: column;
}
.form-control label{
    color: #363672;
}
.form-control input {
    height: 50px;
    width: 100%;
    background: #d6d0f5;
    border: 2px solid #363672;
    outline: none;
    border-radius: 10px;
    color: #363672;
    font-size: 1rem;
    padding: 0 20px;
    font-style: italic;
}
.form-control select {
    height: 50px;
    width: 100%;
    background: #d6d0f5;
    border: 2px solid #363672;
    outline: none;
    border-radius: 10px;
    color: #363672;
    font-size: 1rem;
    padding: 0 20px;
    font-style: italic;
}
.form-control textarea {
    height: 50px;
    width: 100%;
    background: #d6d0f5;
    border: 2px solid #363672;
    outline: none;
    border-radius: 10px;
    color: #363672;
    font-size: 1rem;
    padding: 0 20px;
    font-style: italic;
}
.form-control input[type="url"] {
    height: 50px;
    width: 100%;
    background: #d6d0f5;
    border: 2px solid #363672;
    outline: none;
    border-radius: 10px;
    color: #363672;
    font-size: 1rem;
    padding: 0 20px;
    font-style: italic;
}
/* .form-select {
    display: block;
    width: 100%;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #363672;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    margin: 20px 0px;
    font-style: italic;

}
.form-select option{
    color:#9388c6;
} */

.pet-btn {
    display: inline-block;
    background-color: #9388c6;
    padding: 0.5rem;
    margin: 0.5rem;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 10px;
}

#crud-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    margin: 30px 0px;
    width: 100%;
    margin-bottom: 1rem;
    color: #363672;
    vertical-align: top;
    border-color: #363672;
}
.table th,
.table td {
    padding: 8px; 
    text-align: center;
}
.table th{
    border-bottom: 1px solid #363672;
}
.table td{
    border-bottom: 1px solid #9388c6;
}

.pet-item{
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}
.pet-img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
}