/*Filtro búsqueda*/
.pet-search {
    padding: 1em;
    justify-content: space-between;
    max-width: 42%;
    text-align: center;
    margin: auto;
}
.search-selector {
    border: 2px solid #9388c6;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    width: 100%;
}
.search-card{
    cursor: pointer;
    background: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width:  50%;
    height: 50%;
}
.search-card img {
    width: 100px;
    height: 100px;
}
#cat:checked ~label[for="cat"]{
    background: #c2b9ea;
}
#dog:checked ~label[for="dog"]{
    background:  #c2b9ea;
}

/*Tarjetas animales en adopción*/
.pet-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 2rem;
}
.pet-card {
    border: 1px solid #b4afcc;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    transform: scale(80%);
}
.pet-card:hover {
        transform: scale(100%);     
}
.pet-photo {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 60%;
    padding-top: 0;
    margin-top: 0;
    display: block; 
}
.pet-name{
    font-size: large;
    font-weight: 700;
    margin-bottom: 1rem;
}
.pet-card-body{
    word-wrap: break-word;
    padding-top: 1rem;
}

/*Botones adopción y apadrinar*/
.adoption-btn, .pfriend-btn {
    display: inline-block;
    background-color: #9388c6;
    padding: 0.5rem;
    margin: 0.5rem;
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
    border-radius: 10px;
}
