<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/42f6220ee6.js" crossorigin="anonymous"></script>
    <title>Tu Mejor Amigo</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <!-- Menú de navegación -->
            <div class="navbar-logo">
                <a href="../index.html">
                    <img class="logo-ppal" src="../static/img/logo.png" alt="Logo Tu Mejor Amigo">
                </a>
            </div>
            <div class="navbar-menu">
                <ul class="navbar-list">
                        <li class="navbar-item">
                            <a href="../index.html">Inicio</a>
                        </li>
                        <li class="navbar-item">
                            <a href="./detail_pets.html">Mejores Amigos</a>
                        </li>
                        <li class="navbar-item">
                            <a href="./adoption.html">Adoptar</a>
                        </li>
                        <li class="navbar-item">
                            <a href="./colaborate.html">Colaborar</a>
                        </li>
                </ul>  
        </nav>
    </div>
</header>
    <main>
        <!-- Información general para la adopción -->
        <section id="adoption" class="adoption">
                <div class="info-container">
                    <h2 class="section-title">Información Importante</h2>
                    <p>Si estás pensando sumar un amigo peludo tenés que saber el compromiso que esto implica. No sólo será tu compañía sino un integrante más de la familia por lo que te recomendamos planifiques bien su llegada, asegúrate que todos estén de acuerdo y que en tu edificio o casa se permitan mascotas.</p>
                    <p>Evalúa el espacio disponible en tu hogar, el tiempo que puedes dedicar al juego y paseo, así como los costos asociados con la alimentación, atención veterinaria y cuidado durante las vacaciones. Asegúrate de que tu elección de mascota se ajuste a tu estilo de vida y a la cantidad de tiempo que puedes comprometer.</p>
                    <p>Es importante recordar que un animal de compañía puede tener una vida promedio de entre 14 y 18 años, y durante todo ese tiempo dependerá de vos. Adoptar implica asumir la responsabilidad de su bienestar y felicidad a lo largo de su vida.</p>
                </div>
                <div class="process-container">
                    <div class="proc-img">
                        <img class="doubts-icon" src="../static/img/no-se.png" alt="Información importante">
                    </div>
                    <div class="proc-info">
                        <h3 class="section-subtitle">Proceso de Adopción</h3>
                        <ol class="proc-list">
                            <li class="proc-item">Debes llenar el formulario de adopción en su totalidad. Por favor tómate el tiempo para dar respuesta amplias; las respuestas con monosílabos no nos permiten analizar la viabilidad de la solicitud.</li>
                            <li class="proc-item">Si tu formulario es aprobado te contactaremos por medio de correo para programar una entrevista virtual de adopción, en donde tendremos una charla de tenencia responsable y esperamos conocerte más a fondo; al igual que ver el espacio donde viviría el animal.</li>
                            <li class="proc-item">Los adoptantes deben asumir los gastos básicos como los son: esterilización, vacunas y desparasitación.</li>
                            <li class="proc-item">Los adoptantes deben firmar un contrato de adopción al momento de la entrega oficial del animal, donde se comprometen a darle los cuidados necesarios que este requiera.</li>
                        </ol>
                    </div>
                </div>
        </section>
        <!-- Formulario de solicitud de adopción -->
        <section id="adoption-form" class="adoption-form">
            <h2 class="section-title">Formulario de Adopción</h2>
            <div class="form-container">
                <form 
                name="RegForm"
                onsubmit="return validateForm()"
            >
                <p>
                    <label for="name">Nombre:</label>
                    <input
                        type="text"
                        id="name"
                        name="Name"
                        placeholder="Ingresá tu nombre"
                    />
                    <span
                        id="name-error"
                        class="error-message"
                    ></span>
                </p>
                <p>
                    <label for="address"
                        >Domicilio:</label
                    >
                    <input
                        type="text"
                        id="address"
                        name="Address"
                        placeholder="Ingresá tu domicilio"
                    />
                    <span
                        id="address-error"
                        class="error-message"
                    ></span>
                </p>
                <p>
                    <label for="email"
                        >E-mail:</label
                    >
                    <input
                        type="text"
                        id="email"
                        name="EMail"
                        placeholder="Ingresá tu email"
                    />
                    <span
                        id="email-error"
                        class="error-message"
                    ></span>
                </p>
                <p>
                    <label for="subject"
                        >Tipo de Mascota:</label
                    >
                    <select
                        id="subject"
                        name="Subject"
                    >
                        <option value="">
                            Elegir Mascota
                        </option>
                        <option value="BTECH">
                            Perro
                        </option>
                        <option value="BBA">
                            Gato
                        </option>
                    </select>
                    <span
                        id="subject-error"
                        class="error-message"
                    ></span>
                </p>
                <p>
                    <label for="comment"
                        >Contanos por qué queres adoptar:</label
                    >
                    <textarea
                        id="comment"
                        name="Comment"
                    ></textarea>
                </p>
                <p>
                    <input
                        type="checkbox"
                        id="agree"
                        name="Agree"
                    />
                    <label for="agree"
                        >Acepto las condiciones de adopción</label
                    >
                    <span
                        id="agree-error"
                        class="error-message"
                    ></span>
                </p>
                <p>
                    <input
                        type="submit"
                        value="Send"
                        name="Submit"
                    />
                    <input
                        type="reset"
                        value="Reset"
                        name="Reset"
                    />
                </p>
            </form>
            </div>
        </section>
    </main>
    <script src="../static/js/validate_form.js"></script>
    <footer>
        <!-- Footer ppal -->
        <section class="footer-ppal">
         <div class="footer-ppal-item">
           <h2 class="footer-title">Contacto</h2>
           <ul class="footer-list">
             <li class="footer-item">
                 <p class="footer-subtitle">Atención Telefónica:</p>
                 <p class="footer-text">0-800-amigo-fiel</p>
             </li>
             <li class="footer-item">
                 <p class="footer-subtitle">Atención Whatsapp:</p>
                 <p class="footer-text">+54-911-1234-5678</p>
             </li>
             <li class="footer-item">
                 <p class="footer-text">Lunes a Sábados de 9 a 21 hs</p>
                 <p class="footer-text">Domingos de 10 a 20 hs</p>
             </li>
           </ul>
         </div>
         <div class="footer-ppal-item">
           <h2 class="footer-title">Recursos</h2>
           <ul class="footer-list">
             <li class="footer-link"><a href="#" target="_blank">Perros</a></li>
             <li class="footer-link"><a href="#" target="_blank">Gatos</a></li>
           </ul>
         </div>
         <div class="footer-ppal-item">
           <h2 class="footer-title">Recibí nuestras novedades</h2>
           <p class="footer-text">Suscribite a nuestro Newsletter y enterate todo sobre nuestros amigos.</p>
           <form>
             <input type="email" name="email" placeholder="Ingresá tu email">
             <input type="submit" value="Suscribirse">
           </form>
         </div>
        </section>   
        <!-- Footer social -->
         <section class="footer-social">
             <ul class="footer-social-list">
                 <li class="footer-social-item"><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook" style="color:grey;"></i></a></li>
                 <li class="footer-social-item"><a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-x-twitter" style="color:grey;"></i></a></li>
                 <li class="footer-social-item"><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram" style="color:grey;"></i></a></li>
                 <li class="footer-social-item"><a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube" style="color:grey;"></i></a></li>
               </ul>
         </section>
         <!-- Footer legal -->
         <section class="footer-rights">
             <ul class="footer-rights-list">
                 <li class="footer-rights-item"><a href="#openModal1">Términos &amp; Condiciones</a></li>
                 <li class="footer-rights-item"><a href="#openModal2">Política de Privacidad</a></li>
                 <li class="footer-rights-item">&copy; 2024 Tu Mejor Amigo - Derechos Reservados</li>
             </ul>
             <!-- Modal términos y condiciones -->
             <div id="openModal1" class="modalDialog">
                 <div>
                     <a href="#close" title="Close" class="close">X</a>
                     <h2>Términos &amp; Condiciones</h2>
                     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.</p>
                 </div>
             </div>
             <!-- Modal Políticas de privacidad -->
             <div id="openModal2" class="modalDialog">
                 <div>
                     <a href="#close" title="Close" class="close">X</a>
                     <h2>Política de Privacidad</h2>
                     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.</p>
                 </div>
             </div>
         </section>
     </footer>
</body>
</html>