<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./static/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/42f6220ee6.js" crossorigin="anonymous"></script>
    <title>Tu Mejor Amigo</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/crud.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <!-- Menú de navegación -->
            <div class="navbar-logo">
                <a href="../index.html">
                    <img class="logo-ppal" src="../static/img/logo.png" alt="Logo Tu Mejor Amigo">
                </a>
            </div>
            <div class="navbar-menu">
                <ul class="navbar-list">
                        <li class="navbar-item">
                            <a href="../index.html">Inicio</a>
                        </li>
                        <li class="navbar-item">
                            <a href="../templates/crud.html">Gestión de Mascotas</a>
                        </li>
                </ul>  
        </nav>
    </div>
</header>
    <main>
        <!-- Banner -->
        <section id="banner" class="banner">
            <div class="banner-container">
            </div>
        </section>
        <!-- Formulario de gestión -->
        <section class="crud">
            <h2 class="section-title">Gestión de Mascotas</h2>
            <h3>En esta sección se gestionan los Amigos en adopción.</h3>
                <form action="#" id="crud-form">
                    <div class="d-flex">
                        <div class="form-control d-flex-column">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre"/>
                        </div>
                        <div class="form-control d-flex-column">
                            <label for="tipo">Tipo:</label>
                            <select id="tipo" name="tipo">
                                <option value="perro">Perro</option>
                                <option value="gato">Gato</option>
                            </select>
                        </div>
                        <div class="form-control d-flex-column">
                            <label for="sexo">Sexo:</label>
                            <select id="sexo" name="sexo">
                                <option value="macho">Macho</option>
                                <option value="hembra">Hembra</option>
                            </select>
                        </div>
                        <div class="form-control d-flex-column">
                            <label for="tamanio">Tamaño:</label>
                            <select id="tamanio" name="tamanio">
                                <option value="chico">Chico</option>
                                <option value="mediano">Mediano</option>
                                <option value="grande">Grande</option>
                            </select>
                        </div>
                        <div class="form-control d-flex-column">
                            <label for="e-mascota">Edad:</label>
                            <input type="number" name="e-mascota" id="e-mascota" min="1" max="50">
                        </div>
                        <div class="form-control d-flex-column">
                            <label for="descripcion">Descripción:</label>
                            <textarea id="descripcion" name="descripcion"></textarea>
                        </div>
                        <div class="form-control d-flex-column">
                            <label for="url-foto">URL Foto:</label>
                            <input type="url" id="url-foto" name="url-foto"/>
                        </div>
                            <input type="hidden" id="id_mascota" name="id_mascota"/>
                            <button class="pet-btn" type="button" id="btn-save-mascota">Agregar</button>
                    </div>
                </form>
        </section>
        <!-- Visualizador de Tarjetas de Mascotas -->
        <section id="crud-list" class="pet-list">
            <h2>Mejores Amigos</h3>
            <table id="list-mascotas" class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Sexo</th>
                        <th>Tamaño</th>
                        <th>Edad</th>
                        <th>Descripción</th>
                        <th>Foto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tbody-table-mascotas">
                    
                </tbody>
            </table>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/crud.js"></script>
<footer>
</footer>
</body>
</html>