<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    <script src="https://kit.fontawesome.com/42f6220ee6.js" crossorigin="anonymous"></script>
    <title>Tu Mejor Amigo</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <!-- Menú de navegación -->
            <div class="navbar-logo">
                <a href="../index.html">
                    <img class="logo-ppal" src="../static/img/logo.png" alt="Logo Tu Mejor Amigo">
                </a>
            </div>
            <div class="navbar-menu">
                <ul class="navbar-list">
                        <li class="navbar-item">
                            <a href="../index.html">Inicio</a>
                        </li>
                        <li class="navbar-item">
                            <a href="./detail_pets.html">Mejores Amigos</a>
                        </li>
                        <li class="navbar-item">
                            <a href="./adoption.html">Adoptar</a>
                        </li>
                        <li class="navbar-item">
                            <a href="./colaborate.html">Colaborar</a>
                        </li>
                </ul>  
        </nav>
    </div>
</header>
    <main>
        <section class="search" id="search">
            <div class="pet-search" >
                <h2 class="section-title">¿Qué tipo de Amigo buscas?</h2>
                <div class="search-selector">
                    <input id="dog" type="radio" name="pet-category" value="dog">
                    <label class="search-card" for="dog">
                        <img src="../static/img/dog_icon.png" alt="Perro">
                    </label>
                    <input id="cat" type="radio" name="pet-category" value="cat">
                    <label class="search-card" for="cat">
                        <img src="../static/img/cat_icon.png" alt="Gato">
                    </label>
                </div>
            </div>
        </section>
        <section id="all-pets" class="full-pet-list">
                <h2 class="section-title">Nuestros Amigos</h2>
                <div class="pet-list-container">
                    <div class="pet-card">
                        <img class="pet-photo" src="../static/img/cat1.jpg" alt="Foto mascota 1">
                        <div class="pet-card-body">
                            <div>
                                <h5 class="pet-name">Nombre</h5>
                                <p class="pet-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.</p>
                            </div>
                            <div class="pet-card-btn">
                                <a class="adoption-btn" href="./templates/adoption.html" target="_blank">Adoptar</a>
                                <a class="pfriend-btn" href="./templates/colaborate.html" target="_blank">Apadrinar</a>
                            </div>
                        </div>                    
                    </div>
                    <div class="pet-card">
                        <img class="pet-photo" src="../static/img/cat2.jpg" alt="Foto mascota 2">
                        <div class="pet-card-body">
                            <div>
                                <h5 class="pet-name">Nombre</h5>
                                <p class="pet-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.</p>
                            </div>
                            <div class="pet-card-btn">
                                <a class="adoption-btn" href="./templates/adoption.html" target="_blank">Adoptar</a>
                                <a class="pfriend-btn" href="./templates/colaborate.html" target="_blank">Apadrinar</a>
                            </div>
                        </div>                    
                    </div>
                    <div class="pet-card">
                        <img class="pet-photo" src="../static/img/cat3.jpg" alt="Foto mascota 3">
                        <div class="pet-card-body">
                            <div>
                                <h5 class="pet-name">Nombre</h5>
                                <p class="pet-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.</p>
                            </div>
                            <div class="pet-card-btn">
                                <a class="adoption-btn" href="./templates/adoption.html" target="_blank">Adoptar</a>
                                <a class="pfriend-btn" href="./templates/colaborate.html" target="_blank">Apadrinar</a>
                            </div>
                        </div>                    
                    </div>
                    <div class="pet-card">
                        <img class="pet-photo" src="../static/img/cat4.jpg" alt="Foto mascota 4">
                        <div class="pet-card-body">
                            <div>
                                <h5 class="pet-name">Nombre</h5>
                                <p class="pet-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.</p>
                            </div>
                            <div class="pet-card-btn">
                                <a class="adoption-btn" href="./templates/adoption.html" target="_blank">Adoptar</a>
                                <a class="pfriend-btn" href="./templates/colaborate.html" target="_blank">Apadrinar</a>
                            </div>
                        </div>                    
                    </div>
                    <div class="pet-card">
                        <img class="pet-photo" src="../static/img/cat5.jpg" alt="Foto mascota 5">
                        <div class="pet-card-body">
                            <div>
                                <h5 class="pet-name">Nombre</h5>
                                <p class="pet-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.</p>
                            </div>
                            <div class="pet-card-btn">
                                <a class="adoption-btn" href="./templates/adoption.html" target="_blank">Adoptar</a>
                                <a class="pfriend-btn" href="./templates/colaborate.html" target="_blank">Apadrinar</a>
                            </div>
                        </div>                    
                    </div>
                    <div class="pet-card">
                        <img class="pet-photo" src="../static/img/dog1.jpg" alt="Foto mascota 6">
                        <div class="pet-card-body">
                            <div>
                                <h5 class="pet-name">Nombre</h5>
                                <p class="pet-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.</p>
                            </div>
                            <div class="pet-card-btn">
                                <a class="adoption-btn" href="./templates/adoption.html" target="_blank">Adoptar</a>
                                <a class="pfriend-btn" href="./templates/colaborate.html" target="_blank">Apadrinar</a>
                            </div>
                        </div>                    
                    </div>
                    <div class="pet-card">
                        <img class="pet-photo" src="../static/img/dog2.jpg" alt="Foto mascota 7">
                        <div class="pet-card-body">
                            <div>
                                <h5 class="pet-name">Nombre</h5>
                                <p class="pet-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.</p>
                            </div>
                            <div class="pet-card-btn">
                                <a class="adoption-btn" href="./templates/adoption.html" target="_blank">Adoptar</a>
                                <a class="pfriend-btn" href="./templates/colaborate.html" target="_blank">Apadrinar</a>
                            </div>
                        </div>                    
                    </div>
                    <div class="pet-card">
                        <img class="pet-photo" src="../static/img/dog3.jpg" alt="Foto mascota 8">
                        <div class="pet-card-body">
                            <div>
                                <h5 class="pet-name">Nombre</h5>
                                <p class="pet-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.</p>
                            </div>
                            <div class="pet-card-btn">
                                <a class="adoption-btn" href="./templates/adoption.html" target="_blank">Adoptar</a>
                                <a class="pfriend-btn" href="./templates/colaborate.html" target="_blank">Apadrinar</a>
                            </div>
                        </div>                    
                    </div>
                    <div class="pet-card">
                        <img class="pet-photo" src="../static/img/dog4.jpg" alt="Foto mascota 8">
                        <div class="pet-card-body">
                            <div>
                                <h5 class="pet-name">Nombre</h5>
                                <p class="pet-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.</p>
                            </div>
                            <div class="pet-card-btn">
                                <a class="adoption-btn" href="./templates/adoption.html" target="_blank">Adoptar</a>
                                <a class="pfriend-btn" href="./templates/colaborate.html" target="_blank">Apadrinar</a>
                            </div>
                        </div>                    
                    </div>
                    <div class="pet-card">
                        <img class="pet-photo" src="../static/img/dog5.jpg" alt="Foto mascota 9">
                        <div class="pet-card-body">
                            <div>
                                <h5 class="pet-name">Nombre</h5>
                                <p class="pet-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.</p>
                            </div>
                            <div class="pet-card-btn">
                                <a class="adoption-btn" href="./templates/adoption.html" target="_blank">Adoptar</a>
                                <a class="pfriend-btn" href="./templates/colaborate.html" target="_blank">Apadrinar</a>
                            </div>
                        </div>                    
                    </div>
        </section>
    </main>
    <footer>
        <!-- Footer ppal -->
        <section class="footer-ppal">
         <div class="footer-ppal-item">
           <h2 class="footer-title">Contacto</h2>
           <ul class="footer-list">
             <li class="footer-item">
                 <p class="footer-subtitle">Atención Telefónica:</p>
                 <p class="footer-text">0-800-amigo-fiel</p>
             </li>
             <li class="footer-item">
                 <p class="footer-subtitle">Atención Whatsapp:</p>
                 <p class="footer-text">+54-911-1234-5678</p>
             </li>
             <li class="footer-item">
                 <p class="footer-text">Lunes a Sábados de 9 a 21 hs</p>
                 <p class="footer-text">Domingos de 10 a 20 hs</p>
             </li>
           </ul>
         </div>
         <div class="footer-ppal-item">
           <h2 class="footer-title">Recursos</h2>
           <ul class="footer-list">
             <li class="footer-link"><a href="#" target="_blank">Perros</a></li>
             <li class="footer-link"><a href="#" target="_blank">Gatos</a></li>
           </ul>
         </div>
         <div class="footer-ppal-item">
           <h2 class="footer-title">Recibí nuestras novedades</h2>
           <p class="footer-text">Suscribite a nuestro Newsletter y enterate todo sobre nuestros amigos.</p>
           <form>
             <input type="email" name="email" placeholder="Ingresá tu email">
             <input type="submit" value="Suscribirse">
           </form>
         </div>
        </section>   
        <!-- Footer social -->
         <section class="footer-social">
             <ul class="footer-social-list">
                 <li class="footer-social-item"><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook" style="color:grey;"></i></a></li>
                 <li class="footer-social-item"><a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-x-twitter" style="color:grey;"></i></a></li>
                 <li class="footer-social-item"><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram" style="color:grey;"></i></a></li>
                 <li class="footer-social-item"><a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube" style="color:grey;"></i></a></li>
               </ul>
         </section>
         <!-- Footer legal -->
         <section class="footer-rights">
             <ul class="footer-rights-list">
                 <li class="footer-rights-item"><a href="#openModal1">Términos &amp; Condiciones</a></li>
                 <li class="footer-rights-item"><a href="#openModal2">Política de Privacidad</a></li>
                 <li class="footer-rights-item">&copy; 2024 Tu Mejor Amigo - Derechos Reservados</li>
             </ul>
             <!-- Modal términos y condiciones -->
             <div id="openModal1" class="modalDialog">
                 <div>
                     <a href="#close" title="Close" class="close">X</a>
                     <h2>Términos &amp; Condiciones</h2>
                     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.</p>
                 </div>
             </div>
             <!-- Modal Políticas de privacidad -->
             <div id="openModal2" class="modalDialog">
                 <div>
                     <a href="#close" title="Close" class="close">X</a>
                     <h2>Política de Privacidad</h2>
                     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio molestias commodi architecto non. Voluptatibus facere molestias a dolores deserunt, velit architecto commodi aspernatur, magni incidunt cumque modi quibusdam! Facilis, consectetur.</p>
                 </div>
             </div>
         </section>
     </footer>
</body>
</html>